$variable: var(--val);

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 96px;
  width: 1440px;
  max-width: 100%;
  display: grid;
  row-gap: 48px;

  & > .block1 {
    width: 1440px;
    max-width: 100%;
    margin-top: 48px;
    display: grid;
    row-gap: 24px;

    & > h2 {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;

      color: #002033;
    }

    & > .content {
      width: 100%;
      max-width: 100%;
      background: #ffffff;
      box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02),
        0px 2px 8px rgba(0, 32, 51, 0.16);
      border-radius: 8px;

      & > .wrap {
        width: auto;
        max-width: 1440px;
        display: grid;
        grid-template-columns: 154px 1fr;
        column-gap: 100px;
        align-items: center;
        padding: 32px 0 32px 106px;

        & > .progressBar {
          width: 154px;
          height: 154px;
          position: relative;

          & > .progress {
            width: 100%;
            height: 100%;
          }

          & > .textContent {
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;

            & > .textContentContainer {
              width: max-content;
              height: max-content;

              & > p {
                font-family: "Segoe UI";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;

                text-align: center;

                color: rgba(0, 32, 51, 0.6);
              }

              & > .numbersValue {
                font-family: "Segoe UI";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;

                text-align: center;

                color: #002033;
              }
            }
          }
        }

        & > .info {
          width: 100%;
          display: grid;
          row-gap: 8px;

          & > .title {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 150%;

            color: #002033;
          }

          & > .about {
            width: max-content;
            display: grid;
            grid-template-columns: repeat(3, auto);
            column-gap: 8px;
            align-items: center;

            & > .circle {
              width: 4px;
              height: 4px;
              background: rgba(0, 32, 51, 0.6);
              border-radius: 50%;
            }

            & > p {
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              color: rgba(0, 32, 51, 0.6);
            }
          }

          & > .description {
            & > p {
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;

              color: #002033;
            }
          }

          & > .btn {
            margin-top: calc(35px - 8px);
            & > button {
              width: 171px;
              height: 40px;
              background: #0078d2;
              border-radius: 4px;
              border: none;

              font-family: "Segoe UI";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 40px;
              color: #ffffff;
            }
          }
        }
      }
    }

    & > .showMore {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 140px 1fr;
      align-items: center;
      column-gap: 14px;

      & > .line {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 65, 102, 0.2);
      }

      & > .btn {
        & > button {
          width: 100%;
          height: 32px;

          background: rgba(0, 66, 105, 0.07);
          border-radius: 4px;
          border: none;

          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 32px;

          color: rgba(0, 57, 92, 0.8);
        }
      }
    }
  }

  & > .block2 {
    display: grid;
    row-gap: 24px;
    background-color: rgba(0, 32, 51, 0.05);
    border-radius: 8px;
    padding: 32px;

    & > .title {
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      column-gap: 32px;

      & > h2 {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;

        color: #002033;
      }

      & > button {
        width: 164px;
        height: 32px;
        background: rgba(0, 66, 105, 0.07);
        border-radius: 4px;
        border: none;

        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: rgba(0, 57, 92, 0.8);
      }
    }

    & > .content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }

  & > .block3 {
    display: grid;
    row-gap: 24px;
    border-radius: 8px;
    padding: 32px;

    & > h2 {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;

      color: #002033;
    }

    & > .navigation {
      width: max-content;
      display: grid;
      grid-template-columns: repeat(5, auto);
      border: 1px solid rgba(0, 66, 105, 0.28);
      border-radius: 4px;
      padding: 9.5px 0 9.5px 0;

      & > button {
        padding: 0 20px 0 20px;
        border: none;
        background-color: transparent;
        border-right: 1px solid rgba(0, 66, 105, 0.28);
        border-left: 1px solid rgba(0, 66, 105, 0.28);

        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #002033;
      }

      & > .active {
        border: none;
        margin-top: -9.5px;
        height: calc(100% + 19px);
        background: rgba(0, 66, 105, 0.07);
      }
    }

    & > .content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
}
