$variable: var(--val);

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 96px;
  width: 1440px;
  max-width: 100%;
  display: grid;
  row-gap: 48px;
}

@media only screen and (max-width: 1440px) {
  .container {
    margin-bottom: 96px;
    width: 100vw;
    max-width: 100%;
    display: grid;
    row-gap: 48px;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    margin-bottom: 96px;
    width: 100vw;
    max-width: 100%;
    display: grid;
    place-items: center;
    row-gap: 48px;
  }
}
